*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #23242a;

}

.box
{
    position: relative;
    width: 380px;
    height: 420px;
    background-color: rgba(28, 28, 28, 0.7); /* Fondo semitransparente */
    border-radius: 8px;
    overflow: hidden;
    backdrop-filter: blur(10px); /* Agrega el efecto de desenfoque */
    z-index: 1;
}

.box::before
{
   content: '';
   position: absolute;
   top: -50%;
   left: -50%;
   width: 380px;
   height: 420px;
   background: linear-gradient(0deg, transparent, #ffffff, #ffffff);
   transform-origin: bottom right;
   animation: animate 6s linear infinite;
   animation-delay: -3s;
}


.box::after
{
   content: '';
   position: absolute;
   top: -50%;
   left: -50%;
   width: 380px;
   height: 420px;
   background: linear-gradient(0deg, transparent, #ffffff, #ffffff);
   transform-origin: bottom right;
   animation: animate 6s linear infinite;
   
}
.box {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté en la parte superior */
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }    
    100%
    {
        transform: rotate(360deg);
    }
}

.form
{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background-color: #282828;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

.form h2{
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.len;
}

.inputBox
{
    position: relative;
    width: 300px;   
    margin-top: 35px;
}

.inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1em;
    letter-spacing: 0.05em;
}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color: #45f3ff;
    transform: translateX(0px) translateY(-30px);
    font-size: 0.75em;

}

.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i
{
    height: 1px;
}

.links
{
    display: flex;
    justify-content: space-between;
    color: #8f8f8f;
    text-decoration: none;
}
.links a{
    margin: 20px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}

.links a:hover,
.links a:nth-child(0)
{
    color: #45f3ff;
}

.log a{   
    border: none;
    outline: none;
    background-color: #ffffff;
    padding: 11px 25px;
    width: 100px;
    margin-top: 15px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    text-align: center; /* Centrar el texto horizontalmente */
    line-height: 1;
    transition: background-color 0.3s, color 0.3s;

}
input[type="submit"]
{   
    border: none;
    outline: none;
    background-color: #ffffff;
    padding: 11px 25px;
    width: 100%;
    margin-top: 15px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    text-align: center; /* Centrar el texto horizontalmente */
    line-height: 1;
    transition: background-color 0.3s, color 0.3s;

}


input[type="submit"]:hover {
    background-color: #515151;
    color: #fff;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Coloca el lienzo detrás de los demás elementos */
}

.content-wrapper {
    position: relative; /* Asegura que el lienzo y el contenido se posicionen correctamente */
    z-index: 2; /* Coloca el contenido sobre el lienzo */
}

.google-login {
    text-align: center;
    margin-top: 20px;
}

.google-login a {
    display: inline-block;
}

.google-login img {
    width: 40px; /* Ajusta el tamaño de la imagen según tu preferencia */
    height: 40px;
    cursor: pointer;
    right: 0;
}
