    /* Estilos generales */
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
        min-height: 100vh; /* Mínimo 100% del viewport height */
        display: flex;
        flex-direction: column;
    }


    header {
        background-color: #007BFF;
        color: #fff;
        text-align: center;
        padding: 20px;
    }

    nav ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    nav li {
        margin: 0 15px;
    }

    section {
        margin: 20px;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .panel-solar {
        text-align: center;
        margin: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .panel-solar img {
        max-width: 100%;
    }

    .agregar-carrito {
        background-color: #007BFF;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }

    .agregar-carrito:hover {
        background-color: #0056b3;
    }
    /* Estilos específicos para cada sección (puedes personalizarlos) */

  
    /* Estilos para el footer */


    #catalogo h2{
        text-align: center;
    }



    /* PIE DE PAGINA (FOOTER) */
    /*Ajustando el icono de whatsapp de la pagina*/
    .float {
        position: fixed;
        width: 32px;
        height: 32px;
        bottom: 16px;
        right: 16px;
        background-color: #09ce13;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        font-size: 22px;
        box-shadow: 2px 2px 3px #999;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
    /*Pie de pagina*/
    .pie-pagina{
        width: 100%;
        background-color: rgb(20, 20, 20);
    }
    /*Separando en columnas y ajustando los contenedores del grupo 1*/
    .pie-pagina .grupo-1{
        width: 100%;
        max-width: 1400px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        padding: 45px 20px;
        color: #fff;
    }
    /*Logotipo LAPROGRAMANETA PIE DE PAGINA*/
    .pie-pagina .grupo-1  figure img {
        width: 100%; /* Ajusta el ancho al 100% del contenedor (figure) */
        margin-left: 0; 
        height: auto; /* Mantiene la proporción original de la imagen ajustando automáticamente la altura */
    }
    /*Logotipo LAPROGRAMANETA PIE DE PAGINA*/
    .pie-pagina .grupo-1  figure{
        margin-left: 0;
    }
    /*Dando color-proporcion-alineacion a los elementos del grupo 1 de todos los box*/
    .pie-pagina .grupo1 .box{
        color: #fff;    
        width: 80%;
        text-align: center;
    }
   
    /*Logos de las redes*/
    .pie-pagina .grupo-1 .redes a{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        width: 35px;
        height: 45px;
        line-height: 45px;
        margin-right: 10px;
        transition: all 300ms ease;
    }
    /*Animacion del cursor sobre los logos*/
    .pie-pagina .grupo-1 .redes a:hover{
        color: #605d5d;
    }
    /*Logos de las redes*/
    .pie-pagina .grupo-1 .redes{
        height: 50px; /* Ajusta el alto según tus preferencias */
        text-align: right;
        font-size: 22px;
    }
    /*Titulo EXPLORA pie de pagina*/
    .pie-pagina  h2 {
        text-align: center;
        font-size: 16px;
    }
    /*Inicio y catalogo del pie de pagina*/
    .pie-pagina .explora a{
        text-decoration: none;
        color: #fff;
        margin-left: 110px;
        display: flex;
        flex-direction: column; /* Alinea los elementos verticalmente */
        line-height: 1.5;        
        font-size: 14px;
    }
    /*Titulo sobre-nosotros pipe de pagina*/
    .pie-pagina .grupo-1 .box .sobre-nosotros{
        width: 350px;
        text-align: left;
        font-size: 14px;
    }
    /*Ajustando el interlineado de la descripcion del pie de pagina*/
    .sobre-nosotros p {
        line-height: 2; 
    }
    /*Parte del final del footer*/
    .pie-pagina .grupo-2{
        background-color: rgb(20, 20, 20);
        padding: 15px 10px;
        text-align: center;
        color: #fff;
        border-top: 1px solid rgb(27, 27, 33);
        font-size: 12px;
    }
